{% extends 'base.html.twig' %}

{% block title %}CRUD Article{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-12 row">
            <div class="col-md-6">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="mb-3"><h2>List of articles</h2></div>
                <table class="table table-striped border-left border-right border-bottom">
                    <thead>
                    <tr class="font-weight-bold">
                        <td>ID</td>
                        <td>Title</td>
                        <td>Author</td>
                        <td>Date</td>
                        <td>Actions</td>
                    </tr>
                    </thead>

                    <tbody>
                    {% for article in articles %}
                    <tr>
                        <td> {{ article.id }} </td>
                        <td> {{ article.title }} </td>
                        <td> {{ article.author }} </td>
                        <td> {{ article.insertdate }} </td>
                        <td>
                            <a href="{{ path('article.show', {id: article.id}) }}">Read</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="text-success" href="{{ path('article.update', {id: article.id}) }}">Edit</a>
                                <a class="text-danger" href="{{ path('article.delete', {id: article.id}) }} ">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('article.create') }}" class="btn btn-primary">Add new</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
