{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="col-md-12 row">
            <div class="col-md-6">

                <h2>{{ article.title }}</h2>
                <span class="text-info">{{ article.author }}, <small>{{ article.insertdate }}</small></span>
                <p>{{ article.content }}</p>

                <a href="{{ path('article.index') }}" class="btn btn-primary">Back</a>

            </div>
        </div>
    </div>

{% endblock %}